{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span12">
    <form method="POST" action="/save-reservation">
      {% if reservation.id_reservation %}
      <input type="hidden" name="id_reservation" value="{{reservation.id_reservation}}">
      {% endif %}
      <div class="form-group">
        {% csrf-field %}
        <p>
          First name:
          <input class="form-control"
                 type="text"
                 name="first_name"
                 id="first_name"
                 value="{{reservation.first_name}}" />
        </p>
        {% if errors.first_name %}
        <div class="alert alert-danger">{{errors.first_name}}</div>
        {% endif %}
        <p>
          Last Name:
          <input class="form-control"
                 type="text"
                 name="last_name"
                 id="last_name"
                 value="{{reservation.last_name}}" />
        </p>
        {% if errors.last_name %}
        <div class="alert alert-danger">{{errors.last_name}}</div>
        {% endif %}
        <p>
          Email:
          <input class="form-control"
                 type="email"
                 name="email"
                 id="email"
                 value="{{reservation.email}}" />
        </p>
        {% if errors.email %}
        <div class="alert alert-danger">{{errors.email | join}}</div>
        {% endif %}
        <p>
          Number of seat:
          <input class="form-control"
                 type="number"
                 name="number_of_seat"
                 id="number_of_seat"
                 value="{{reservation.number_of_seat}}" />
        </p>
        {% if errors.number_of_seat %}
        <div class="alert alert-danger">{{errors.number_of_seat}}</div>
        {% endif %}
        <p>
          Date: <input class="form-control" id="datepicker" name="date" type="date"  width="100px" value='{{reservation.date|date:"yyyy-MM-dd"}}'>
        </p>
        {% if errors.date %}
        <div class="alert alert-danger">{{errors.date}}</div>
        {% endif %}

        <p>
          Cinema:
          <select class="form-control" name="cinema" id="cinema" >
            {% if reservation|empty? %}
              <option value="Usce" >Usce</option>
              <option value="Delta city cineplex" >Delta city cineplex</option>
            {% endif %}
            {% ifequal reservation.cinema "Usce" %}
              <option value="Usce" >Usce</option>
              <option value="Delta city cineplex" >Delta city cineplex</option>
            {% endifequal %}
            {% ifequal reservation.cinema "Delta city cineplex" %}
              <option value="Delta city cineplex" >Delta city cineplex</option>
              <option value="Usce" >Usce</option>
            {% endifequal %}
          </select>
        </p>
        {% if errors.cinema %}
        <div class="alert alert-danger">{{errors.cinema}}</div>
        {% endif %}

        <p>
          Film:
          <select class="form-control" name="id_film" id="id_film" >
            {% for item in films %}
              <option value="{{item.id_film}}"{% ifequal item.id_film reservation.id_film %} selected {% endifequal %}
                      {% ifequal item.id_film getFilm.id_film %} selected {% endifequal %}>{{item.name}}</option>
            {% endfor %}
          </select>
        </p>

        <input id="submit_button" type="submit" class="btn btn-primary" value="Make reservation" />
      </div>
    </form>
  </div>
</div>


{% endblock %}