html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: gainsboro;
}
.navbar {
  margin-bottom: 50px;
  border-radius: 0px;
  background-color: red;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
#submit_button{
    margin-top: 50px;
    margin-left: 925px;
}
.selectnumber{
  width: 100px;
}
#datepicker{
    width: 300px;
}
#select_box{
    width: 300px;
    height: 30px;
}
.film-table{
    background-color: yellow;
}
#image_logo{
  padding-top: 20px;
}
.header-link{
  position: relative;
  padding-top: 35px;
  font-size: x-large;
}
#header-link-font-1{
  color: aliceblue;
}
#header-link-font-2{
  color: aliceblue;
}
#header-link-font-3{
  color: aliceblue;
}
#header-link-font-4{
  color: aliceblue;
}
#header-link-font-5{
  color: aliceblue;
  padding-left: 650px;
}
.login-form{
  position: absolute;
  padding-left: 500px;
  padding-top: 150px;
}
.login-form-background{
  background: gainsboro;
}
.btn-login{
  padding-left: 400px;
  padding-top: 20px;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.messages {
    background: white;
    width: 520px;
}
ul {
    list-style: none;
}

ul.messages li {
    position: relative;
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

li:last-child {
    border-bottom: none;
}

li time {
    font-size: 12px;
    padding-bottom: 20px;
}

form, .error {
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
}
.position-login{
  position: absolute;
  padding-top: 250px;
  padding-left: 500px;

}
.login-form{
  position: absolute;
  padding-left: 500px;
  padding-top: 150px;
}
.login-form-background{
  background: gainsboro;
}
